# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
/.idea
/.vscode

# misc
/coverage
*.log


# environment files
*.env
.env.*

# System Files
.DS_Store
Thumbs.db
